<server>
    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>
    
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />
    
    <webApplication id="libertymon" location="libertymon.war" name="libertymon"/>
    
    <webContainer deferServletLoad="false" />
    
    <logging traceSpecification="*=info:com.example.liberty.*=all" maxFileSize="250" maxFiles="4" />
</server>
