<server>
    <featureManager>
        <feature>ejbLite-3.2</feature>
        <feature>jsp-2.3</feature>
        <feature>monitor-1.0</feature>
    </featureManager>
    
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />
    
    <webApplication id="libertymon-ejb" location="libertymon-ejb.war" name="libertymon-ejb"/>
    
    <logging traceSpecification="*=info:com.example.liberty.*=all" maxFileSize="250" maxFiles="4" />
</server>
